@import "../node_modules/bootstrap/scss/bootstrap";
$navbar-dark-color: rgba($white, 0.9);
$dark: rgb(0, 0, 0);
.bg-img {
  background-image: url(../assets/placeimg_1000_480_tech.jpg);
  background-size: cover;
  z-index: -1;
}
.lol {
  font-size: 500%;
}
