@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;600;700&display=swap");

@import "../node_modules/bootstrap/scss/bootstrap";
@import "./misestilos";
$navbar-dark-color: rgba($white, 0.9);
$dark: rgb(0, 0, 0);
$font-family-base: "Rajdhani", sans-serif;
